<div class="container app2" id="main">

    <div class="row" *ngIf="course">

        <div class="col-sm-12">



            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">ID</span>
                <span class="info"> {{ course.id }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Titolo</span>
                <span class="info"> {{ course.title }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Descrizione</span>
                <span class="info">{{ course.description }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Durata</span>
                <span class="info">{{ course.duration }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Prezzo Base</span>
                <span class="info">{{ course.basePrice }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Syllabus</span>
                <span class="info">{{ course.syllabus }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Livello</span>
                <span class="info">{{ course.level }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">ID Area</span>
                <span class="info">{{ course.areaId }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Nome Area</span>
                <span class="info">{{ course.areaName }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Data di Creazione</span>
                <span class="info">{{ course.creationDate }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Con Certificazione</span>
                <span class="info">{{ course.grantsCertification }}</span>
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Edizioni</span>
                <span class="info">{{ editions.length }}</span>
            </div>




            <button class="btn btn-add-edition mb-3" [routerLink]="['/addedition', course.id]">Aggiungi Edizione</button>

            <table class="table table-dark table-striped table-hover" style="width: 80%; user-select: none; -moz-user-select: none;">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Codice</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Prezzo Effettivo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of editions">
                        <td>{{ e.id }}</td>
                        <td>{{ e.code }}</td>
                        <td>{{ e.description }}</td>
                        <td>{{ e.realPrice }}</td>
                        <td style="text-align: right;">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary" [routerLink]="['/editiondetails', e.id]">Info</button>
                                <button type="button" class="btn btn-warning" [routerLink]="['/addedition', e.id]">Modifica</button>
                                <button type="button" class="btn btn-danger" (click)="clickMethod(e.id)">Elimina</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btn btn-back" aria-label="Basic example">
                <button (click)="onBack()" class="btn">Indietro</button>
            </div>



        </div>

    </div>