<div class="container app2" id="main">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="el-sx">
                        <button class="btn btn-success mb-3" [routerLink]="['/addstudent', 0]" style="width: 200px;">Aggiungi Studente</button>
                    </div>
                    <div class="buttonsearch">
                        <div class="input-group">
                            <div class="select">
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedField">
                                <option value="">Ricerca per...</option>
                                <option value="id">ID</option>
                                <option value="firstname">Nome</option>
                                <option value="lastname">Cognome</option>
                                <option value="city">Città</option>
                              </select>
                            </div>
                            <div class="form-outline d-flex">
                                <input type="search" id="form1" class="form-control" [(ngModel)]="searchText" ng-change="detectEmpty()" />
                                <label class="form-label" for="form1"></label>
                            </div>
                            <button (click)="search()" type="button" class="btn btn-primary">
                          <i class="fas fa-search">Cerca</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-dark table-striped table-hover" style="width: 100%; user-select: none; -moz-user-select: none;">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Data di nascita</th>
                        <th scope="col">Indirizzo</th>
                        <th scope="col">Città</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of students">
                        <td>{{ s.id }}</td>
                        <td>{{ s.firstname }}</td>
                        <td>{{ s.lastname }}</td>
                        <td>{{ s.email }}</td>
                        <td>{{ s.dateOfBirth }}</td>
                        <td>{{ s.address }}</td>
                        <td>{{ s.city }}</td>
                        <td style="text-align: right;">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary" [routerLink]="['/studentdetails', s.id]">Info</button>
                                <button type="button" class="btn btn-warning" [routerLink]="['/addstudent', s.id]">Modifica</button>
                                <button type="button" class="btn btn-danger" (click)="clickMethod(s.id)">Elimina</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>